<h1>All Employees</h1>
<% @employees.each do |e| %>
    <h3><%= link_to e.first_name + " " + e.last_name, employee_path(e) %></h3>
<% end %>
<button><%= link_to "New Employee", new_employee_path %></button>